header {
    background-color: #43054e;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 9px;
}

h1 {
    margin: 0;
    font-size: 28px;
}

h2 {
    margin: 0;
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 60px;
}

section {
    padding: 50px;
    text-align: center;
}

#product-image {
    width: 300px;
    height: auto;
    margin-bottom: 60px;
}

p {
    margin: 0;
    font-size: 25px;
}

#team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.team-member {
    width: 300px;
    margin: 20px;
}

.team-member {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-member h3 {
    margin: 5px 0;
}

.team-member p {
    margin: 0;
}

form {
    margin-top: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}

form input[type="text"],
form input[type="telefone"]
form input[type="email"],
form input[type="submit"],
form select {
    padding: 10px;
    margin: 5px;
    width: 100%;
    max-width: 300px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}

form input[type="submit"] {
    background-color: #43054e;
    color: #fff;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #ec0089;
}

/* New styles */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #ffffff;
}

label {
    color: #555;
}

input[type="text"],
input[type="telefone"],
input[type="email"],
input[type="submit"],
select {
    background-color: #fff;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #555;
}

.form-box {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
